.porto-title{

    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.porto-grid{

    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-content: center;
    justify-content: center;
    max-width: 990px;
    margin: 70px auto;

}

.project{

    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: 480px;
    box-shadow: 0 4px 10px darkslateblue;
    background-color: aliceblue;
    border-radius: 15px;

}

.project-img{
    width: 100%;
    border-radius: 15px 15px 0 0;   
    height: 200px; 
}



.project-title{
           
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: slateblue;
    margin: 10px auto;
    text-decoration: underline cyan;

}

.project-description{

    padding: 20px 30px;
    text-align: justify;
    line-height: 1.2em;
}

.project-btn{

    background: slateblue;
    color: black;
    align-content: center;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 500;
    border: none;
    
}

.project-btn:hover{

    box-shadow: 0 2px 10px cyan;
}



a{
    text-decoration: none;
}





