.skills{
    max-width: 980px;
    margin: 0 auto;
}

.skills-title {

    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.skills-subtitle {

    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: blueviolet;
    text-transform: uppercase;
}

.skills-list, .skills-list-lan, .skills-list-soft {

    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-skill {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 10px darkslateblue;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    background-color: aliceblue;
    text-align: center;
    align-items: center;
    width: 80px;
    border: solid grey 2px;
}

.skills-skill img{
    width:  70px;
    max-height: 150px;
    
}

.skills-skill div{
   font-size: 15px;
    font-weight: 500;
    padding: 2px;
    margin-top: 2px;
   
    
}

h3{
    text-align: center;
}

.skills-skill-lan, .skills-skill-soft{

              
    box-shadow: 0 4px 10px darkslateblue;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px;
    background-color: aliceblue;
    text-align: center;
    
    
    
    
    
}
.skills-skill-lan img{
    width: 25px;
    margin-bottom: 2px;
} 



.skills-section{

    margin: 25px 0;
}

.skills-skill:hover,
.skills-skill-lan:hover{

    color: lightseagreen;
    background-color: black;
}

@media (min-width:990) {
    .skills-title {

        font-size: 60px;
    }

    .skills-list{

        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .skills-skill {
        font-size: 30px;
        margin: 20px;
    }

    

    


    .skills-subtitle{

        margin: 30px;
    }
}